@media screen and (max-width: 1400px) {
  .header__information {
    margin-top: 50px;
  }
}
@media screen and (max-width: 900px) {
  .header__container {
    padding: 20px;
  }
  .header__container .header__logo {
    font-size: 36px;
  }
  .header__container .header__icon {
    display: block;
  }
  .header__container .header__buttons {
    display: none;
  }
  .header__container .header__information {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .header__container .header__logo {
    font-size: 26px;
  }
  .header__container .header__icon img {
    width: 35px;
    height: 35px;
  }
}
@media screen and (min-width: 899px) {
  .header__burger-container {
    display: none;
  }
}