@charset "UTF-8";
@media screen and (max-width: 1280px) {
  .header {
    padding: 0 10px;
  }
}
@media screen and (max-width: 1024px) {
  .header__nav .nav__logo .logo__name {
    font-size: 20px;
  }
  .header__nav .nav__logo .logo__name span {
    font-size: 14px;
  }
  .header__nav .nav__search .search__input {
    width: 250px;
    height: 35px;
  }
  .header__nav .nav__search .search__button img {
    height: 35px;
    width: 35px;
  }
  .header__menu .menu__item {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .header__nav .nav__logo .logo__name {
    font-size: 34px;
  }
  .header__nav .nav__logo .logo__name span {
    font-size: 26px;
  }
  .header__nav .nav__search {
    display: none;
  }
  .header__nav .nav__nav-button {
    display: none;
  }
  .header__nav .nav__burger-icon {
    display: block;
  }
  .header__menu {
    display: none;
  }
  .menu_open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0; /*Элемент полностью прозрачный (невидимый)*/
    animation: showMenu 0.5s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
  }
  .menu_open .menu__item {
    font-size: 24px;
  }
  .menu_open .menu__item:not(:first-child) {
    margin: 20px 0 0 0;
  }
  @keyframes showMenu {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@media screen and (max-width: 768px) {
  .main__images {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main__images a {
    margin: 0;
    width: 98%;
  }
  .main__images a:not(:first-child) {
    margin: 10px 0 0 0;
  }
}