@font-face {
  font-family: "Montserrat-Regular";
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
body {
  font-family: "Montserrat-Regular";
  color: black;
}

:root {
  --main-red-color: #EC5565;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.header .header__nav {
  padding: 25px 0px;
}
.header .header__menu {
  padding: 10px 0 35px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .nav__burger-icon {
  display: none;
}
.nav .nav__burger-icon img {
  height: 40px;
  width: 40px;
}

.logo .logo__name {
  font-family: "Montserrat-Bold";
  color: var(--main-red-color);
  text-transform: uppercase;
  font-size: 32px;
}
.logo .logo__name span {
  color: black;
  font-size: 20px;
}

.search {
  display: flex;
}
.search .search__input {
  width: 400px;
  font-size: 16px;
  padding: 0 10px 0 10px;
  border: 1px solid var(--main-red-color);
}
.search .search__button {
  background-color: var(--main-red-color);
}
.search .search__button img {
  height: 40px;
  width: 40px;
}
.search .search__button:active img {
  transform: scale(0.9);
}

.nav-button a {
  color: black;
}
.nav-button .nav-button__button {
  display: flex;
  align-items: center;
  background-color: #fff;
}
.nav-button .nav-button__button img {
  height: 40px;
  width: 40px;
}
.nav-button .nav-button__button .nav-button__name {
  padding-left: 10px;
  font-size: 16px;
}
.nav-button .nav-button__button:active {
  color: var(--main-red-color);
  transform: scale(0.95);
}

.menu {
  font-family: "Montserrat-Bold";
  text-transform: uppercase;
}
.menu .menu__item {
  font-size: 18px;
  color: black;
}
.menu .menu__item:not(:first-child) {
  margin-left: 50px;
}
.menu .menu__item:active {
  transform: scale(0.9);
  color: var(--main-red-color);
}

.main__images {
  display: flex;
}
.main__images a {
  width: 50%;
}
.main__images a img {
  width: 100%;
}
.main__images a:not(:first-child) {
  margin-left: 10px;
}

.main__services {
  margin-top: 50px;
}
.main__services .services__container {
  margin-top: 50px;
}

.services .services__title {
  font-family: "Montserrat-Bold";
  font-size: 30px;
}
.services .services__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.service {
  display: flex;
  align-items: center;
  padding: 40px;
  border: 3px solid var(--main-red-color);
}
.service .service__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 150px;
  margin-right: 10px;
}
.service .service__text .service__title {
  font-family: "Montserrat-Bold";
  font-size: 18px;
}
.service .service__text .service__subtitle {
  margin-top: 10px;
  color: var(--main-red-color);
}
.service .service__img {
  width: 75px;
  height: 75px;
}

.service:hover {
  cursor: pointer;
  background-color: var(--main-red-color);
  color: white;
}
.service:hover .service__subtitle {
  color: white;
}