@charset "UTF-8";
@font-face {
  font-family: "Montserrat-Regular";
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
body {
  font-family: "Montserrat-Regular";
  color: black;
}

:root {
  --main-red-color: #EC5565;
}

.header {
  background-color: rgb(51, 51, 51);
  height: 80px;
  color: white;
}

.header__container {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header__container .header__buttons {
  margin-left: 200px;
  align-items: center;
  display: flex;
}
.header__container .header__buttons a {
  color: white;
}
.header__container .header__buttons a:hover {
  color: var(--main-red-color);
}
.header__container .header__buttons a:last-child {
  margin-left: 20px;
}
.header__container .header__worktime {
  margin-left: 200px;
}
.header__container .header__phone-block {
  margin-left: 20px;
}

.city {
  display: flex;
  align-items: center;
}
.city .city__img {
  height: 45px;
  width: 45px;
}
.city .city__name {
  padding: 0px 0 0 15px;
}

.worktime {
  display: flex;
  align-items: center;
}
.worktime .worktime__img {
  height: 45px;
  width: 45px;
}
.worktime .worktime__text-container {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.worktime .worktime__text-container .worktime__text-top {
  font-size: 12px;
}
.worktime .worktime__text-container .worktime__text-bottom {
  margin-top: 5px;
  font-size: 14px;
}

.phone-block {
  display: flex;
  align-items: center;
}
.phone-block .phone-block__img {
  height: 45px;
  width: 45px;
}
.phone-block .phone-block__number {
  margin-left: 15px;
}

.main {
  max-width: 1300px;
  margin: 0 auto;
}
.main .main__under-header {
  padding: 25px 10px;
}

.under-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.under-header .under-header__burger {
  display: none;
}
.under-header .under-header__burger img {
  height: 40px;
  width: 40px;
}

.logo .logo__name {
  font-family: "Montserrat-Bold";
  color: var(--main-red-color);
  text-transform: uppercase;
  font-size: 32px;
}
.logo .logo__name span {
  color: black;
  font-size: 20px;
}

.search {
  display: flex;
}
.search .search__input {
  width: 400px;
  font-size: 16px;
  padding: 0 10px 0 10px;
  border: 1px solid var(--main-red-color);
}
.search .search__button {
  background-color: var(--main-red-color);
}
.search .search__button img {
  height: 40px;
  width: 40px;
}
.search .search__button:active img {
  transform: scale(0.9);
}

.header-button a {
  color: black;
}
.header-button .header-button__button {
  display: flex;
  align-items: center;
  background-color: #fff;
}
.header-button .header-button__button img {
  height: 40px;
  width: 40px;
}
.header-button .header-button__button .header-button__name {
  padding-left: 10px;
  font-size: 16px;
}
.header-button .header-button__button:active {
  color: var(--main-red-color);
  transform: scale(0.95);
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.burger .burger__item {
  font-size: 24px;
  color: black;
  padding: 10px 0;
}
.burger .burger__item:active {
  transform: scale(0.9);
}

@keyframes showBurger {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.burger_open {
  display: flex;
  opacity: 0; /*Элемент полностью прозрачный (невидимый)*/
  animation: showBurger 0.5s 1; /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
}