@font-face {
  font-family: "Montserrat-Regular";
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
body {
  font-family: "Montserrat-Regular";
  background-color: #0F0F0F;
  color: white;
}
body a {
  color: white;
}

:root {
  --main-red-color: #DD2B1C;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
}
.header__container .header__icon {
  display: none;
}
.header__container .header__icon img {
  height: 45px;
  width: 45px;
}
.header__container .header__logo {
  font-family: "Montserrat-Bold";
  font-size: 32px;
  color: var(--main-red-color);
}
.header__container .header__buttons {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.header__container .header__buttons .header__button:not(:first-child) {
  margin-left: 40px;
}
.header__container .header__buttons .header__button:hover {
  color: var(--main-red-color);
  text-shadow: 0 0 20px var(--main-red-color);
}
.header__container .header__information {
  display: flex;
  font-size: 18px;
}
.header__container .header__information .header__info:not(:first-child) {
  margin-left: 20px;
}
.header__container .header__information .header__info:not(:first-child):hover {
  text-decoration: underline;
}

.header__burger-container {
  display: none;
  flex-direction: column;
  font-size: 22px;
  padding-left: 20px;
}
.header__burger-container .header__burger-link {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.header__burger-container .header__burger-link img {
  height: 35px;
  width: 35px;
}
.header__burger-container .header__burger-link:hover {
  color: var(--main-red-color);
}

.header__burger-container_open {
  display: flex;
}

.promo {
  background-image: url(../images/stop.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  display: flex;
  padding: 140px;
}
.promo .promo__left-side {
  max-width: 800px;
}
.promo .promo__left-side h2 {
  font-family: "Montserrat-Bold";
  font-size: 56px;
  line-height: 95px;
  text-shadow: 0px -1px 13px rgba(255, 255, 255, 0.7);
}
.promo .promo__left-side h4 {
  margin-top: 20px;
  font-size: 24px;
}
.promo .promo__left-side button {
  margin-top: 40px;
  padding: 0 44px;
  height: 80px;
  font-size: 24px;
  border: 1px solid var(--main-red-color);
  border-radius: 80px;
  background-color: #0F0F0F;
  color: white;
}
.promo .promo__left-side button:hover {
  background-color: var(--main-red-color);
}