@media screen and (max-width: 1366px){
    .header__container{
        max-width: 90%;
        .header__buttons{
            margin-left: 100px;
        }
        .header__worktime{
            margin-left: 100px;
        }
        .header__phone-block{
            margin-left: 20px;
        }
    }
}


@media screen and (max-width: 1187px){
    .header__container{
        .header__buttons{
            margin-left: 10px;
        }
        .header__worktime{
            margin-left: 10px;
        }
        .header__phone-block{
            margin-left: 10px;
        }
    }
}

@media screen and (max-width: 987px){
    .header__container{
        .header__buttons{
            display: none;
        }
        .header__worktime{
            margin: 0;
        }
    }
}

@media screen and (max-width: 870px){
   .header{
        display: none;
   }
}

//=============UNDER-HEADER=============

@media screen and (max-width: 1120px){
    .under-header__logo{
        .logo__name{
            font-size: 20px;
            span{
                font-size: 14px;
            }
        }
    }
    .under-header__search{
        .search__input{
            width: 250px;
            height: 35px;
        }
        .search__button{
            img{
                height: 35px;
                width: 35px;
            }
        }
    }
}

@media screen and (max-width: 870px){
    .under-header{
        .under-header__logo{
            .logo__name{
                font-size: 34px;
                span{
                    font-size: 26px;
                }
            }
        }
        .under-header__search{
            display: none;
        }
        .under-header__header-button{
            display: none;
        }
        .under-header__burger{
            display: block;
        }
    }
}


//============BURGER============
@media screen and (min-width: 871px){
    .burger{
        display: none;
    }
}
//=============================