@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

body{
    font-family: 'Montserrat-Regular';
    color: black;
}
//====================================

:root {
  --main-red-color: #EC5565;
}

//====================================

.header{
    background-color: rgb(51, 51, 51);
    height: 80px;
    color:white;
}

.header__container{
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
    //.header__city{
    //}
    
    .header__buttons{
        margin-left: 200px;
        align-items: center;
        display: flex;
        a{
            color: white;
        }
        a:hover{
            color:var(--main-red-color);
        }
        a:last-child{
            margin-left: 20px;
        }
    }
    
    .header__worktime{
        margin-left: 200px;
    }
    
    .header__phone-block{
        margin-left: 20px;
    }
}

//==BLOCKS===

.city{
    display: flex;
    align-items: center;
    .city__img{
        height: 45px;
        width: 45px;
    }
    .city__name{
        padding: 0px 0 0 15px;
    }
}

.worktime{
    display: flex;
    align-items: center;
    .worktime__img{
        height: 45px;
        width: 45px;
    }
    .worktime__text-container{
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        .worktime__text-top{
            font-size: 12px;
        }
        .worktime__text-bottom{
            margin-top: 5px;
            font-size: 14px;
        }
    }
}

.phone-block{
    display: flex;
    align-items: center;
    .phone-block__img{
        height: 45px;
        width: 45px;
    }
    .phone-block__number{
        margin-left: 15px;
    }
}

//=================================

.main{
    max-width: 1300px;
    margin: 0 auto;
    .main__under-header{
        margin: 25px 0px;
    }
}


//===BLOCKS====

.under-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .under-header__logo{}
    .under-header__search{}
    .under-header__header-button{}
}

.logo{
    .logo__name{
        font-family: 'Montserrat-Bold';
        color: var(--main-red-color);
        text-transform: uppercase;
        font-size: 32px;
        span{
            color:black;
            font-size: 20px;
        }
    }
}

.search{
    display: flex;
    .search__input{
        width: 400px;
        font-size: 16px;
        padding: 0 10px 0 10px;
        border:1px solid var(--main-red-color);
    }
    .search__button{
        background-color: var(--main-red-color);
        img{
            height: 40px;
            width: 40px;
        }
    }
    .search__button:active{
        img{
            transform: scale(0.90);
        }
    }
}

.header-button{
    a{
        color: black;
    }
    .header-button__button{
        display: flex;
        align-items: center;
        background-color: #fff;
        img{
            border:1px solid var(--main-red-color);
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.318);
            height: 40px;
            width: 40px;
        }
        .header-button__name{
            padding-left: 10px;
            font-size: 16px;
        }
    }
    .header-button__button:active{
        color: var(--main-red-color);
        transform: scale(0.95);
    }
}



