@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

body{
    font-family: 'Montserrat-Regular';
    color: black;
}
//====================================

:root {
  --main-red-color: #EC5565;
}

//====================================

.wrapper{
    max-width: 1300px;
    margin: 0 auto;
}

//====================================

.header{
    .header__nav{
        padding: 25px 0px;
    }
    .header__menu{
        padding: 10px 0 35px 0;
    }
}

//===BLOCKS====

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // .nav__logo{}
    // .nav__search{}
    // .nav__nav-button{}
    .nav__burger-icon{
        display: none;
        img{
            height: 40px;
            width: 40px;
        }
    }
}

.logo{
    .logo__name{
        font-family: 'Montserrat-Bold';
        color: var(--main-red-color);
        text-transform: uppercase;
        font-size: 32px;
        span{
            color:black;
            font-size: 20px;
        }
    }
}

.search{
    display: flex;
    .search__input{
        width: 400px;
        font-size: 16px;
        padding: 0 10px 0 10px;
        border:1px solid var(--main-red-color);
    }
    .search__button{
        background-color: var(--main-red-color);
        img{
            height: 40px;
            width: 40px;
        }
    }
    .search__button:active{
        img{
            transform: scale(0.90);
        }
    }
}

.nav-button{
    a{
        color: black;
    }
    .nav-button__button{
        display: flex;
        align-items: center;
        background-color: #fff;
        img{
            height: 40px;
            width: 40px;
        }
        .nav-button__name{
            padding-left: 10px;
            font-size: 16px;
        }
    }
    .nav-button__button:active{
        color: var(--main-red-color);
        transform: scale(0.95);
    }
}
//==


.menu{
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
    .menu__item{
        font-size: 18px;
        color: black;
    }
    .menu__item:not(:first-child){
        margin-left: 50px;
    }
    .menu__item:active{
        transform: scale(0.90);
        color: var(--main-red-color);
    }
}

//=================================

// .main{

// }

.main__images{
    display: flex;
    a{
        width: 50%;
        img{
            width: 100%;
        }
    } 
    a:not(:first-child){
        margin-left: 10px;
    }
    
}


.main__services{
    margin-top: 50px;
    .services__container{
        margin-top: 50px;
    }
}

.services{
    .services__title{
        font-family: 'Montserrat-Bold';
        font-size: 30px;
    }
    .services__container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
    }
}

.service{
    display: flex;
    align-items: center;
    padding: 40px;
    border: 3px solid var(--main-red-color);
    .service__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 150px;
        margin-right: 10px;
        .service__title{
            font-family: 'Montserrat-Bold';
            font-size: 18px;
        }
        .service__subtitle{
            margin-top: 10px;
            color: var(--main-red-color);
        }
    }
    .service__img{
        width: 75px;
        height: 75px;
    }
}

.service:hover{
    cursor:pointer;
    background-color: var(--main-red-color);
    color: white;
    .service__subtitle{
        color: white;
    }
}